<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- 目标类 -->
    <bean id="userServiceImpl" class="com.aop.auto.UserServiceImpl"></bean>
    <!-- 切面类 -->
    <bean id="aspect" class="com.aop.auto.Aspect"></bean>
    <!-- aop -->
    <aop:config>
        <!-- 切入点 -->
        <aop:pointcut id="pointCut" expression="execution(* com.aop.auto..*.*(..))"></aop:pointcut>
        <!-- 通知引用，切入点引用 -->
        <aop:advisor advice-ref="aspect" pointcut-ref="pointCut"></aop:advisor>
    </aop:config>
</beans>