<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- 前置增强 -->
    <bean id="greetingAdvice" class="com.aop.advice.before.GreetingBeforeAdvice"></bean>
    <!-- 目标类 -->
    <bean id="target" class="com.aop.advice.before.NavieWaiter"></bean>

    <bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces" value="com.aop.advice.before.Waiter"></property>
        <property name="interceptorNames" value="greetingAdvice"></property>
        <property name="target" ref="target"></property>
    </bean>
</beans>