<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 目标类 -->
    <bean id="waiterTarget" class="com.aop.advisor.dynamicmethod.Waiter"></bean>
    <!-- 增强类 -->
    <bean id="greetingAdvice" class="com.aop.advisor.staticmethodmatcher.GreetingBeforeAdvice"></bean>
    <bean id="dynamicAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="pointcut">
            <bean class="com.aop.advisor.dynamicmethod.GreetingDynamicPointcut"></bean>
        </property>
        <property name="advice">
            <bean class="com.aop.advisor.dynamicmethod.GreetingBeforeAdvice"></bean>
        </property>
    </bean>

    <bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="interceptorNames" value="dynamicAdvisor"></property>
        <property name="proxyTargetClass" value="true"></property>
        <property name="target" ref="waiterTarget"></property>
    </bean>
</beans>