<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- set注入 -->
    <bean id="person" class="com.di.set.Person">
        <property name="name" value="Panda"></property>
        <property name="age">
            <value>22</value>
        </property>
        <property name="companyAddr" ref="companyAddr"></property>
        <property name="homeAddr">
            <ref bean="homeAddr"></ref>
        </property>
    </bean>

    <bean id="homeAddr" class="com.di.set.Address">
        <property name="addr" value="家庭地址"></property>
        <property name="phoneNum" value="1300000000"></property>
    </bean>
    <bean id="companyAddr" class="com.di.set.Address">
        <property name="addr" value="公司地址"></property>
        <property name="phoneNum" value="1311111111"></property>
    </bean>
</beans>