<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="userServiceTarget" class="com.aop.staticmethodadvisor.UserService"></bean>
    <bean id="userOtherServiceTarget" class="com.aop.staticmethodadvisor.UserOtherService"></bean>
    <bean id="addUserAdvice" class="com.aop.staticmethodadvisor.AddUserBeforeAdvice"></bean>
    <bean id="addUserAdvisor" class="com.aop.staticmethodadvisor.AddUserAdvisor">
        <property name="advice" ref="addUserAdvice"></property>
    </bean>

    <bean id="parent" abstract="true" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="interceptorNames" value="addUserAdvisor"></property>
        <property name="proxyTargetClass" value="true"></property>
    </bean>

    <bean id="userService" parent="parent">
        <property name="target" ref="userServiceTarget"></property>
    </bean>
    <bean id="userOtherService" parent="parent">
        <property name="target" ref="userOtherServiceTarget"></property>
    </bean>
</beans>