<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- set注入 集合类型 -->
    <bean id="colldata" class="com.di.collection.CollData">
        <property name="arrays">
            <array>
                <value>a</value>
                <value>b</value>
                <value>c</value>
            </array>
        </property>
        <property name="list">
            <list>
                <value>1</value>
                <value>2</value>
                <value>3</value>
            </list>
        </property>
        <property name="set">
            <set>
                <value>q</value>
                <value>w</value>
                <value>e</value>
            </set>
        </property>
        <property name="map">
            <map>
                <entry key="1" value="a"></entry>
                <entry key="2" value="b"></entry>
                <entry key="3" value="c"></entry>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="1">a</prop>
                <prop key="2">b</prop>
                <prop key="3">c</prop>
            </props>
        </property>
    </bean>
</beans>